[user]
	name = Nick Kirby 
	email = 33106137+Kirizan@users.noreply.github.com
[core]
	autocrlf = false
	excludesfile = /Users/nikirby/.gitignore_global
[github]
	user = Kirizan
	email = 33106137+Kirizan@users.noreply.github.com
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
