# User information (profile-based)
[user]
	name = {{ .name }}
	email = {{ .email }}

# Profile-specific includes
{{- if eq .profile "personal" }}
[includeIf "gitdir:{{ .chezmoi.homeDir }}/.dotfiles/"]
  path = {{ .chezmoi.homeDir }}/.gitconfig_personal
[includeIf "gitdir:{{ .chezmoi.homeDir }}/github"]
  path = {{ .chezmoi.homeDir }}/.gitconfig_personal
{{- end }}

{{- if eq .profile "work" }}
[includeIf "gitdir:{{ .chezmoi.homeDir }}/.dotfiles_corp/"]
  path = {{ .chezmoi.homeDir }}/.gitconfig_corp
[includeIf "gitdir:{{ .chezmoi.homeDir }}/projects/"]
  path = {{ .chezmoi.homeDir }}/.gitconfig_corp
{{- end }}

[core]
	autocrlf = false
	excludesFile = {{ .chezmoi.homeDir }}/.gitignore_global
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
{{- if stat (joinPath .chezmoi.homeDir ".ssh/wellpoint-full-chain.crt") }}
[http]
	sslCAInfo = {{ .chezmoi.homeDir }}/.ssh/wellpoint-full-chain.crt
{{- end }}
