{{- if and (not .isHeadless) (not .isWSL) .isArchBased -}}
[Desktop Entry]
Name=Browser
Exec=sh -c 'xdg-open https://www.google.com'
Terminal=false
Type=Application
NoDisplay=true
X-KDE-GlobalAccel-CommandShortcut=true
{{- end }}
