{{- if and (not .isHeadless) (not .isWSL) .isArchBased -}}
[Desktop Entry]
Name=1Password
Exec=1password
Terminal=false
Type=Application
NoDisplay=true
X-KDE-GlobalAccel-CommandShortcut=true
{{- end }}
