{{- if and (not .isHeadless) (not .isWSL) .isArchBased -}}
[Desktop Entry]
Name=Screenshot Region Edit
Exec=spectacle -r
Terminal=false
Type=Application
NoDisplay=true
X-KDE-GlobalAccel-CommandShortcut=true
{{- end }}
