{{- if and (not .isHeadless) (not .isWSL) .isArchBased -}}
[Desktop Entry]
Name=New Tab
Exec=ydotool key 29:1 20:1 20:0 29:0
Terminal=false
Type=Application
NoDisplay=true
X-KDE-GlobalAccel-CommandShortcut=true
{{- end }}
